{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.11.0"},
    {n2o, "10.12.4"},
    {nitro, "11.4.16"},
    {kvs, "10.8.3"},
    {jsone, "1.7.0"},
    {syn, {git, "https://github.com/ostinelli/syn.git", {tag, "3.4.2"}}},
    {eturnal, {git, "https://github.com/processone/eturnal.git", {tag, "1.12.0"}}}
]}.

{pre_hooks, [
    {"darwin", compile, "mkdir -p priv && cc -O3 c_src/gst.c -o priv/gst_recorder $(pkg-config --cflags --libs gstreamer-1.0 gstreamer-webrtc-1.0 gstreamer-sdp-1.0)"},
    {"linux", compile, "mkdir -p priv && cc -O3 c_src/gst.c -o priv/gst_recorder $(pkg-config --cflags --libs gstreamer-1.0 gstreamer-webrtc-1.0 gstreamer-sdp-1.0)"}
]}.

{overrides, [
    {add, [
        {erl_opts, [nowarn_deprecated_catch, nowarn_export_var_subexpr]}
    ]},
    {add, fast_tls, [
        {port_env, [
            {"CFLAGS", "$CFLAGS -I/opt/homebrew/opt/openssl@3/include -I/opt/homebrew/include"},
            {"LDFLAGS", "$LDFLAGS -L/opt/homebrew/opt/openssl@3/lib -L/opt/homebrew/lib"}
        ]}
    ]},
    {add, fast_yaml, [
        {port_env, [
            {"CFLAGS", "$CFLAGS -I/opt/homebrew/include"},
            {"LDFLAGS", "$LDFLAGS -L/opt/homebrew/lib"}
        ]}
    ]},
    {add, nitro, [
        {erl_opts, [{i, "include"}]}
    ]},
    {del, quantile_estimator, [
        {erl_opts, [{no_auto_import, [{ceil, 1}, {floor, 1}]}]}
    ]},
    {del, eturnal, [
        {erl_opts, [warnings_as_errors]}
    ]}
]}.

{relx, [{release, {rtp, "0.1.0"},
         [rtp]},

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
