{erl_opts, [debug_info]}.
{deps, [
    {bandit, "1.12.0"},
    {websock_adapter, "0.5.9"},
    {n2o, "10.12.4"},
    {nitro, "11.4.16"},
    {kvs, "10.8.3"},
    {jsone, "1.7.0"},
    {syn, {git, "https://github.com/ostinelli/syn.git", {tag, "3.4.2"}}}
]}.

{plugins, [
    {rebar_mix, "0.5.1"}
]}.

{provider_hooks, [
    {post, [{compile, {mix, consolidate_protocols}}]}
]}.

{pre_hooks, [
    {"darwin", compile, "mkdir -p priv && cc -O3 c_src/gst.c -o priv/gst_recorder $(pkg-config --cflags --libs gstreamer-1.0 gstreamer-webrtc-1.0 gstreamer-sdp-1.0 json-glib-1.0)"},
    {"linux", compile, "mkdir -p priv && cc -O3 c_src/gst.c -o priv/gst_recorder $(pkg-config --cflags --libs gstreamer-1.0 gstreamer-webrtc-1.0 gstreamer-sdp-1.0 json-glib-1.0)"}
]}.

{overrides, [
    {add, [
        {erl_opts, [nowarn_deprecated_catch, nowarn_export_var_subexpr]}
    ]},
    {add, kvs, [
        {src_dirs, ["src", "src/stores", "src/layers"]}
    ]},
    {add, nitro, [
        {erl_opts, [{i, "include"}]}
    ]},
    {del, quantile_estimator, [
        {erl_opts, [{no_auto_import, [{ceil, 1}, {floor, 1}]}]}
    ]}
]}.

{relx, [{release, {rtp, "0.1.0"},
         [rtp]},

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
