{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.11.0"},
    {n2o, "10.12.4"},
    {nitro, "11.4.16"},
    {kvs, "10.8.3"},
    {jsone, "1.7.0"},
    {syn, {git, "https://github.com/ostinelli/syn.git", {tag, "3.4.2"}}},
    {eturnal, {git, "https://github.com/processone/eturnal.git", {tag, "1.12.0"}}}
]}.

{relx, [{release, {rtp, "0.1.0"},
         [rtp]},

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
