[
  {kernel, [
    {logger, [
      {handler, default, logger_std_h, #{
        config => #{
          file => "log/rtp.log"
        }
      }}
    ]}
  ]},
  {syn, [{scopes, [rooms, n2o_mq]}]},
  {mnesia, [{dir, "/var/lib/rtp/mnesia"}]},
  {n2o, [{port, 8081},{protocols, [nitro_n2o, n2o_heart]},{routes, rtp_routes},{mq, rtp_syn},{session, n2o_session},{origin, <<"*">>},{pickler, n2o_secret},{event, pickle}]},
  {rtp, [{hls_format, ts}]}
].
