[


  {syn, [
    {scopes, [rooms, n2o_mq]}
  ]},

  {mnesia, [
    {dir, "/var/lib/rtp/mnesia"}
  ]},

  {n2o, [
    {port, 8081},
    {protocols, [nitro_n2o, n2o_heart]},
    {routes, routes},
    {mq, rtp_syn}
  ]},

  {rtp, [
    {hls_format, ts} % options: ts (MPEG-TS) or fmp4 (Fragmented MP4)
  ]}
].
